<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Paddy's Book Warehouse</title>

  <!-- Bootstrap core CSS -->
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="./index.html">Paddy's Book Warehouse</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Main
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">To-do list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Current updates</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to Paddy's Book Warehouse</h1>
      </div>

      <div id="results" class="col-lg-8 order-2 mb-5"></div>

      <div class="col-lg-4 order-1">
        <form enctype="application/json" action="/post/json" method="post">
          <div class="form-group">
            <h2>Create</h2>
            <select class="form-control" name="sec_n">
              <option value="0">Fiction</option>
              <option value="1">SF</option>
              <option value="2">IT</option>
              <!-- <option value="3">Dinner</option> -->
            </select>
            <!-- <input class="form-control mt-3" type="text" name="id" placeholder="ID" readonly> -->
            <input class="form-control mt-3" type="text" name="title" placeholder="Title">
            <input class="form-control mt-3" type="text" name="author" placeholder="Author">
            <input class="form-control mt-3" type="text" name="price" placeholder="Price">
            <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
          </div>
        </form>

        <form enctype="application/json" action="/post/update" method="post">
          <div class="form-group">
            <h2>UPDATE</h2>
            <select class="form-control" name="sec_n">
              <option value="0">Fiction</option>
              <option value="1">SF</option>
              <option value="2">IT</option>
              <!-- <option value="3">Dinner</option> -->
            </select>
           
            <input style="display: none;" class="form-control mt-3" type="text" name="entree" >
            <input class="form-control mt-3" type="text" name="id" placeholder="ID" readonly>
            <input class="form-control mt-3" type="text" name="title" placeholder="Title">
            <input class="form-control mt-3" type="text" name="author" placeholder="Author">
            <input class="form-control mt-3" type="text" name="price" placeholder="Price">
            <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
          </div>
        </form>

        <!-- <form enctype="application/json" action="/post/delete" method="post"></form> -->
        <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
        <p class="text-muted">To delete an entree, click the required row first</p>
        <!-- </form> -->

        <form>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">&euro;</span>
            </div>
            <input type="text" class="form-control" aria-label="Total" name="txtBillAmt" />

            <div class="input-group-append">
              <div class="input-group-text">
                <input type="checkbox" id="showVeg" aria-label="Checkbox for following text input"
                  title="click to highlight Vegetarian menu" />
              </div>
            </div>

            <input class="btn btn-block btn-secondary" type="button" name="btnCalcBill" value="Calculate Bill"
              id="calcBill" />
            <p class="text-muted">To calculate biils,<br>tick the check box on the required rows first</p>
            <!-- <p class="text-muted">To calculate biils, tick the check box</p> -->
            <!-- <p class="text-muted">on the required rows first</p> -->

            <!-- <div class="input-group-append mt-5 mb-2">
                    <div class="input-group-text">
                        <input type="checkbox" id="showVeg" aria-label="Checkbox for following text input">
                        <label class="ml-2" for="showVeg">Highlight Vegetarian Meals</label>
                    </div>
                </div> -->
          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- </div> -->


  <footer class="footer">
    <div class="container text-center"><span class="text-muted">&copy; 2020 Paddy's Book Warehouse</span></div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <!-- <script src="./js/bootstrap.bundle.min.js.map"></script> -->
  <!-- <script src="./js/jquery.min.map"></script> -->
  <script src="./js/PaddysBookWarehouse.js"></script>
  <script src="./js/table.js"></script>


</body>

</html>